@import '../../styles/base.scss';

.stationDetails {
    flex-grow: 1;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
}

.inner {
    @include fill-to-max-width;
    display: grid;
    overflow: hidden;
    grid-template-areas: 'info primary';
    grid-template-columns: 300px 1fr;
    box-shadow: $global-shadow;
    margin-top: 20px;
    background: white;
    flex-grow: 1;

    h1 {
        margin: 0;
    }
}

.primaryPane {
    grid-area: 'primary';
    padding: 20px;
    box-shadow: -10px 0px 5px 1px rgba(black, 0.05);
}

.infoPane {
    grid-area: 'info';
    background: #fafafa;
}

.map {
    width: 300px;
    height: 300px;
    background: desaturate(lightgreen, 30%);
}

.metadata {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        padding: 8px;
        &:nth-child(even) {
            background: #ddd;
        }
    }
}
