$endpoint-size: 20px;
$stem-width: 8px;
$text-offset: 25px;

.travelSegment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    :global .stem {
        position: absolute;
        height: calc(100% - #{$endpoint-size});
        top: $endpoint-size / 2;
        left: $endpoint-size / 2;
        transform: translateX(-50%);
        width: $stem-width;
        background: currentColor;
    }
}

.travelSegmentEndpoint {
    position: relative;
    z-index: 1;

    :global .circle {
        width: $endpoint-size;
        height: $endpoint-size;
        border-radius: $endpoint-size / 2;
        box-sizing: border-box;
        border: 4px solid currentColor;
        background: white;
        background-clip: content-box;
    }

    :global .label {
        top: calc((#{$endpoint-size} - 1em) / 2);
        color: black;
        position: absolute;
        left: $text-offset;
        :global .time {
            font-weight: bold;
        }
    }
}

.transferSegment {
    display: flex;
    flex-direction: column;
    position: relative;

    :global .stem {
        position: absolute;
        height: 100%;
        top: 0;
        left: $endpoint-size / 2;
        transform: translateX(-50%);
        border: 1px dashed cornflowerblue;
    }
}
