@import '../../styles/base.scss';

.button {
    display: flex;
    align-items: center;
    white-space: nowrap;
    background: none;
    color: inherit;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background: whitesmoke;
    box-shadow: $global-shadow;
    font-size: 0.9em;
    color: #111;

    &.outline {
        background: none;
        color: whitesmoke;
        border: 2px solid rgba(white, 0.8);
        padding: 3px 8px;
        svg > * {
            stroke: currentColor;
        }
    }

    &.large {
        font-size: inherit;
        font-size: 1em;
        height: 1.8em;
        padding: 8 16px;
    }

    > .rightIcon {
        display: flex;
        margin-left: auto;
        padding-left: 0.25em;
    }

    & > * {
        min-height: 1em;
    }
}
