@use '../../styles/base.scss';

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    box-shadow: base.$global-shadow;
}

.menuItem {
    color: black;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    user-select: none;
    white-space: nowrap;

    &:hover,
    &[tabindex='0'] {
        background: #ddd;

        svg>* {
            stroke: currentColor;
        }
    }
}
