@use '../../styles/base.scss';

.journeyErrorState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    h2 {
        margin: 0;
    }

    @include base.mobile {
        height: 200px;
    }
}
