// Designed to be used in conjunction with the Button styles. Maybe that should be a mixin.

.numericTimePicker {
    font-family: inherit;
    box-sizing: border-box;
    font-size: unset;
    height: 28.8px; // This is awful but I'm out of patience to fix this cross-browser
}
