@use 'sass:color';
@use '../../styles/base.scss';

.container {
    background: base.$rr-purple;
    padding: 10px;
    color: white;
    box-shadow: base.$global-shadow;
}

.visualizerWrapper {
    min-height: 100px;
}

.time {
    font-size: 1.5em;
}

.line {
    stroke: white;
    stroke-width: 3px;
}

.label {
    fill: white;
}

.train {
    fill: white;
    opacity: 0.5;
    transition: 0.5s ease-in-out opacity;
}

.trainAtTerminus {
    opacity: 0;
}

.station {
    stroke: white;
    fill: base.$rr-purple;
    stroke-width: 2px;
}

.electricStroke {
    stroke: color.adjust(base.$rr-gold, $lightness: 80%);
    filter: drop-shadow(0px 0px 2px base.$rr-gold);
}

.controls {
    display: flex;
    align-items: center;

    >* {
        margin-right: 10px;
    }
}
