@import '../../styles/base.scss';

.container {
    background: $rr-purple;
    padding: 10px;
    color: white;
    box-shadow: $global-shadow;
}

.visualizerWrapper {
    min-height: 100px;
}

.time {
    font-size: 1.5em;
}

.line {
    stroke: white;
    stroke-width: 3px;
}

.label {
    fill: white;
}

.train {
    fill: white;
    opacity: 0.5;
    transition: 0.5s ease-in-out opacity;
}

.trainAtTerminus {
    opacity: 0;
}

.station {
    stroke: white;
    fill: $rr-purple;
    stroke-width: 2px;
}

.electricStroke {
    stroke: lighten($rr-gold, 80%);
    filter: drop-shadow(0px 0px 2px $rr-gold);
}

.controls {
    display: flex;
    align-items: center;
    > * {
        margin-right: 10px;
    }
}
