@keyframes :global(spin-frames) {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@mixin spinning($period: 2s) {
    animation: spin-frames $period infinite linear;
}

:global .spinning {
    @include spinning(0.75s);
}

@keyframes :global(hover-frames) {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@mixin hovering($period) {
    animation: hover-frames $period infinite ease-in-out;
}
:global .hovering {
    @include hovering(4s);
}