@import '../../styles/base.scss';

.journeyPicker {
    display: flex;
    align-items: center;

    @include mobile {
        flex-direction: column;
        align-items: flex-start;
        display: grid; // Fixes a Safari height: 100% issue with the swap stations button
    }

    > :global(.labeled-control) {
        display: flex;
        align-items: center;
    }

    > :global(.group) {
        display: flex;
        align-items: center;
        margin-right: 10px;
        @include mobile {
            margin: 0;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    > :global(.group.from-to-stations) {
        @include mobile {
            display: grid;
            grid-template-areas:
                'from swap'
                'to swap';
            grid-template-columns: minmax(0, 1fr) 50px;
            row-gap: 10px;
            column-gap: 10px;

            .labeledControl {
                margin: 0;
                > :first-child {
                    width: 40px;
                    text-transform: capitalize;
                    text-align: right;
                }
                > :nth-child(2) {
                    flex-grow: 1;
                }
            }

            :global(.station-picker) {
                width: 100%;
                > button {
                    width: 100%;
                }
            }

            > :global(.from-station) {
                grid-area: from;
            }

            > :global(.to-station) {
                grid-area: to;
            }

            > :global(.swap-stations-button) {
                margin: 0;
                grid-area: swap;
                height: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    :global(.group.time-details) {
        @include mobile {
            overflow: scroll;
        }
    }

    :global(.swap-stations-button) {
        margin-left: 10px;
    }
}

.spacer {
    width: 10px;
}

.label {
    color: white;
    margin: 0 10px;
    white-space: nowrap;
}

.labeledControl {
    display: flex;
    align-items: center;
}
