@import '../../styles/base.scss';

.journeyPicker {
    display: flex;
    align-items: center;

    > :global(.group) {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    :global(.swap-stations-button) {
        margin-left: 15px;
    }

    > :global(.label),
    > :global(.group) > :global(.label) {
        color: white;
        margin: 0 10px;
    }
}
