.crowdingIllustration {
    position: relative;
}

.platform {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: black;
}

.person {
    position: absolute;
    bottom: 0;
    transform: translateY(4.2%);
}