.crowdingIllustration {
    position: relative;
    overflow: hidden;
}

.platform {
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
}

.person {
    position: absolute;
    bottom: 0;
    transform: translateY(5%);
}