@import '../../styles/base.scss';

.home {
    width: 100%;
    background: $darker-rr-purple;
    color: white;

    @include mobile {
        scroll-snap-type: y mandatory;
        height: 100vh;
        overflow-y: scroll;
    }
}

.screen {
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    scroll-snap-align: start;

    @include mobile {
        padding: 20px;
    }

    p {
        text-align: center;
    }
}

.network {
    @include mobile {
        margin: 20px 0;
    }
}

.text {
    text-align: center;
}

.train {
    opacity: 0.5;
    fill: white;
    transition: 100ms opacity ease-in-out;
}

.line {
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: round;
}

.title {
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    font-size: 48px;
}

.subtitle {
    font-style: italic;
    text-align: center;
    @include mobile {
        font-size: 14px;
    }
}

.tmLogo {
    height: 30px;
    z-index: 1;
    margin-bottom: 20px;
    @include mobile {
        margin-bottom: 0;
        height: 20px;
    }
}

.enterButton {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    border: 2px solid white;
    color: white;
    background: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.01em;

    &:hover, &:active {
        background: white;
        color: $darker-rr-purple;
    }
}

.detailsScreen {
    background: $darker-rr-purple;

    hr {
        width: 100%;
        max-width: 1200px;
        color: white;
    }
}

.section {
    margin: 50px 0;
    box-sizing: border-box;
    width: calc(100% - 100px);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
        width: 100%;
        margin: 10px 0;
    }
}

.overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

.overviewEntry {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin: 20px 0;
    }

    @include mobile {
        background-color: rgba(white, 0.1);
        padding: 16px;
        border-radius: 4px;
        margin-top: 30px;

        &:first-child {
            margin-top: 10px;
        }

        > :first-child {
            position: absolute;
            transform: translateY(-70%);
        }

        h2 {
            margin: 0;
            margin-top: 20px;
            font-size: 18px;
        }
    }

    p {
        margin: 0;
        line-height: 1.5em;
        text-align: center;
        @include mobile {
            font-size: 14px;
        }
    }
}

.nextScreenArrow {
    margin-top: 20px;
}

.scrollSnapEnd {
    scroll-snap-align: end;
}