@import 'styles/base.scss';

$top-color: $rr-gold;
$bottom-color: $rr-purple-dark;

@mixin picker-triangle($color, $size: 8px) {
    position: absolute;
    z-index: 2;
    left: -$size;
    @include triangle($color, $size);
}

.departurePicker {
    overflow-x: hidden;
    transition: 0.2s opacity ease-in-out;
    background: white;

    &:not(.disabled):hover {
        cursor: pointer;
        .cursor {
            opacity: 1;
        }
    }
}

.departurePickerMobile {
    position: sticky;
    top: 0;
    z-index: 1;
}

.disabled {
    opacity: 0.75;
}

.container {
    position: relative;
}

.top {
    width: 100%;
    height: 8px;
    box-shadow: $global-shadow;
    background: $top-color;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.bottom {
    width: 100%;
    height: 8px;
    margin-top: 20px;
    background: $bottom-color;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
    @include mobile {
        background: $top-color;
        box-shadow: $global-shadow;
    }
}

.indicator {
    position: absolute;
    height: calc(100% + 20px);
    top: 0;
    transition: 200ms left cubic-bezier(1, 0, 0, 1);
}

.invisible {
    opacity: 0;
}

.cursor {
    height: calc(100% + 20px);
    top: 0;
    opacity: 0;
    position: absolute;
    color: #333;
    user-select: none;
    .cursorNeedle {
        position: absolute;
        bottom: 0;
        top: 0;
        width: 2px;
        left: -1px;
        background: currentColor;
    }
    .cursorTime {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 5px;
        padding-right: 5px;
        z-index: -1;
        font-size: 0.8em;
        white-space: nowrap;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 90%,
            rgba(255, 255, 255, 0) 100%
        );
    }
}

.cursorMobile {
    top: 0;
    left: 50%;
    z-index: 1;
    opacity: 1;
    font-size: 0.9em;
}

.indicatorInner {
    position: relative;
    height: 100%;
}

.needle {
    position: absolute;
    width: 2px;
    top: 0;
    left: -1px;
    height: 100%;
    background: darkred;
}

.topTriangle {
    @include picker-triangle($top-color);
    transform: rotate(180deg);
}

.bottomTriangle {
    @include picker-triangle($bottom-color);
    bottom: 0;
    @include mobile {
        @include picker-triangle($top-color);
    }
}
