@import '../../styles/base.scss';

:root {
    --arrival-width: 8px;
}

@include mobile {
    :root {
        --arrival-width: 6px;
    }
}

$arrival-width: var(--arrival-width);

.timeline {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 20px;
}

.withArrivals {
    min-height: 50px;
}

.tick {
    position: absolute;
    top: 0;
    height: 60%;
    transform: translateX(-1px);
    :global(.hairline) {
        position: relative;
        height: 100%;
        width: 1px;
        border-right: 1px solid #ddd;
    }
    :global(.label) {
        position: absolute;
        bottom: -5px;
        transform: translateY(100%);
        font-size: 12px;
        color: #999;
        white-space: nowrap;
        user-select: none;
        @include mobile {
            font-size: 10px;
        }
    }
}

.fullSizeTick {
    height: 100%;
}

.row {
    position: relative;
    margin-bottom: 4px;
}

@mixin arrival {
    position: absolute;
    width: $arrival-width;
    height: $arrival-width;
    transform: translateX(calc(#{$arrival-width} / -2));
    border-radius: $arrival-width;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.baselineArrival {
    @include arrival;
    background: $rr-light;
}

.enhancedArrival {
    @include arrival;
    background: $rr-purple;
}
