@use '../../styles/base.scss';

.stationName {
    display: flex;
    align-items: center;

    &.fullWidth {
        width: 100%;
        justify-content: space-between;
    }

    &.infillIndicatorUsesTextColor {
        .plus {
            color: currentColor;
        }
    }

    .infillStatus {
        display: flex;
        margin-left: 5px;
        position: relative;
    }

    .tooltipText {
        font-size: 0.9em;
        visibility: hidden;
        position: absolute;
        transform: translateX(100%) translateY(-50%);
        text-align: center;
        right: -2px;
        top: 50%;
        width: max-content;
        padding: 2px 6px;
        background-color: base.$rr-purple-secondary;
        color: #fff;
        font-style: italic;
    }

    .plus {
        color: #aaa;
    }

    .infillStatus:hover .tooltipText {
        visibility: visible;
    }
}

a.nameText {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
