@import '../../styles/base.scss';

.journeyComparison {
    @include fill-to-max-width;
    margin-bottom: 30px;

    :global(.bubble) {
        display: inline-block;
        color: white;
        padding: 3px 6px;
        margin-top: -3px;
        border-radius: 4px;
        &:global(.green) {
            background: forestgreen;
        }
        &:global(.red) {
            background: red;
        }
        &:global(.offset-left) {
            margin-left: 6px;
            @include mobile {
                margin-left: 0;
            }
        }
        @include mobile {
            display: block;
            margin: 0px;
            margin-top: 4px;
        }
    }

    :global(.secondary) {
        margin-top: 6px;
        font-style: italic;
    }

    :global(.duration) {
        font-size: 18px;
        @include mobile {
            font-size: 15px;
        }
    }

    :global(.crowding-illustration) {
        opacity: 0.5;
        padding-top: 10px;
        margin-right: 40px;
        margin-top: auto;
        @include mobile {
            display: none;
        }
    }

    :global(.column-header) {
        display: flex;
        align-items: center;
        :global(.header-blip) {
            margin-right: 8px;
            display: inline;
            height: 0.8em;
            width: 0.8em;
            border-radius: 4px;
            &:global(.baseline) {
                background: $rr-light;
            }
            &:global(.enhanced) {
                background: $rr-purple;
            }
            @include mobile {
                display: none;
            }
        }
    }

    @include mobile {
        margin-bottom: 0;
    }
}

.comparisonRow {
    display: grid;
    width: 100%;
    grid-template-columns: 150px repeat(2, 1fr);
    column-gap: 20px;
    grid-template-areas: 'title baseline enhanced';

    > :global(.title) {
        text-align: right;
        grid-area: title;
        font-style: italic;
        color: #aaa;
    }

    > :global(.baseline) {
        display: flex;
        flex-direction: column;
        grid-area: baseline;
    }

    > :global(.enhanced) {
        display: flex;
        flex-direction: column;
        grid-area: enhanced;
    }

    &:first-child {
        margin-top: 20px;
        @include mobile {
            margin-top: 0;
        }
    }

    &:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px #e5e5e5 solid;
        @include mobile {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &:global(.no-padding) {
        padding-bottom: 0;
    }

    &:global(.header) {
        font-size: 1.5em;
        font-weight: bolder;
        border: none;
    }

    @include mobile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'baseline enhanced';
        column-gap: 0;
        position: relative;

        > :global(.baseline),
        > :global(.enhanced) {
            border-top-width: 2px;
            border-top-style: solid;
            padding: 20px 10px;
        }

        > :global(.title) {
            position: absolute;
            left: 50%;
            top: 1px;
            transform: translateX(-50%) translateY(-50%);
            background: white;
            border-radius: 100px;
            padding: 2px 10px;
            border: 2px solid #ddd;
            color: black;
        }

        > :global(.baseline) {
            border-color: $rr-light;
            background: lighten($rr-light, 18%);
        }

        > :global(.enhanced) {
            border-color: $rr-purple;
            background: lighten($rr-purple, 65%);
        }
    }
}

.frequencyInfo {
    margin-right: 40px;

    @include mobile {
        margin-right: 0;
    }

    :global(.timeline) {
        height: 1em;
        position: relative;
        margin-bottom: 20px;

        @include mobile {
            padding: 2px 0;
            margin-bottom: 10px;
        }

        mask-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%
        );
        :global(.line) {
            position: absolute;
            width: 100%;
            height: 2px;
            background: #ddd;
            top: 50%;
            transform: translateY(-50%);
        }
        :global(.wait-line) {
            position: absolute;
            height: 2px;
            background: white;
            border-bottom: 2px dashed cornflowerblue;
            top: 50%;
            transform: translateY(calc(-50% - 1px));
        }
        :global(.time) {
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
            top: 50%;
            width: 8px;
            height: 8px;
            border-radius: 10px;
            background: $rr-purple;
            &:global(.missed) {
                box-shadow: 0 0 0 4px rgba($rr-purple, 0.5);
            }
            &:global(.caught) {
                box-shadow: 0 0 0 4px rgba($rr-purple, 0.5);
            }
        }
    }
}
