@use 'sass:color';
@use '../../styles/base.scss';

.journeyComparison {
    @include base.fill-to-max-width;
    margin-bottom: 30px;

    @include base.mobile {
        @include base.mobile-fill-to-max-width;
    }

    :global(.bubble) {
        display: inline-block;
        color: white;
        padding: 3px 6px;
        margin-top: -3px;

        &:global(.green) {
            background: #579f6b;
        }

        &:global(.red) {
            background: #ec4747;
        }

        &:global(.offset-left) {
            margin-left: 6px;

            @include base.mobile {
                margin-left: 0;
            }
        }

        @include base.mobile {
            display: block;
            margin: 0px;
            margin-top: 4px;
        }
    }

    :global(.secondary) {
        margin-top: 6px;
        font-style: italic;
    }

    :global(.duration) {
        font-size: 18px;

        @include base.mobile {
            font-size: 15px;
        }
    }

    :global(.column-header) {
        display: flex;
        align-items: center;

        :global(.header-blip) {
            margin-right: 8px;
            display: inline;
            height: 0.8em;
            width: 0.8em;
            border-radius: 100px;

            &:global(.baseline) {
                background: base.$rr-light;
            }

            &:global(.enhanced) {
                background: base.$slate-100;
            }

            @include base.mobile {
                display: none;
            }
        }
    }

    @include base.mobile {
        margin-bottom: 0;
    }
}

.comparisonRow {
    display: grid;
    width: 100%;
    grid-template-columns: 150px repeat(2, 1fr);
    column-gap: 20px;
    grid-template-areas: 'title baseline enhanced';

    > :global(.title) {
        text-align: right;
        grid-area: title;
        font-style: italic;
        color: #aaa;
    }

    > :global(.baseline) {
        display: flex;
        flex-direction: column;
        grid-area: baseline;
    }

    > :global(.enhanced) {
        display: flex;
        flex-direction: column;
        grid-area: enhanced;
    }

    &:first-child {
        margin-top: 20px;

        @include base.mobile {
            margin-top: 0;
        }
    }

    &:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px #e5e5e5 solid;

        @include base.mobile {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &:global(.header) {
        font-size: 1.5em;
        font-weight: bolder;
        border: none;
    }

    @include base.mobile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'baseline enhanced';
        column-gap: 0;
        position: relative;

        > :global(.baseline),
        > :global(.enhanced) {
            border-top-width: 1px;
            border-top-style: solid;
            padding: 20px 10px;
        }

        > :global(.title) {
            position: absolute;
            left: 50%;
            top: 1px;
            transform: translateX(-50%) translateY(-50%);
            background: white;
            border-radius: 100px;
            padding: 2px 10px;
            border: 1px solid #ddd;
            color: black;
        }

        > :global(.baseline) {
            border-color: base.$rr-light;
            background: white;
        }

        > :global(.enhanced) {
            border-color: base.$rr-purple;
            background: color.adjust(base.$rr-purple, $lightness: 67%);
        }

        &:global(.header) {
            > :global(.baseline) {
                background: base.$rr-light;
                color: white;
            }

            > :global(.enhanced) {
                background: base.$rr-purple;
                color: white;
            }
        }
    }
}

.frequencyInfo {
    margin-right: 40px;

    @include base.mobile {
        margin-right: 0;
    }

    :global(.timeline) {
        height: 1em;
        position: relative;
        margin-bottom: 20px;
        mask-image: linear-gradient(90deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 5%,
                rgba(0, 0, 0, 1) 95%,
                rgba(0, 0, 0, 0) 100%);

        @include base.mobile {
            padding: 2px 0;
            margin-bottom: 10px;
        }

        :global(.line) {
            position: absolute;
            width: 100%;
            height: 2px;
            background: #ddd;
            top: 50%;
            transform: translateY(-50%);
        }

        :global(.wait-line) {
            position: absolute;
            height: 2px;
            background: white;
            border-bottom: 2px dashed cornflowerblue;
            top: 50%;
            transform: translateY(-50%);
            box-sizing: border-box;
        }

        :global(.time) {
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
            top: 50%;
            width: 8px;
            height: 8px;
            border-radius: 10px;
            background: base.$rr-purple;

            &:global(.missed) {
                box-shadow: 0 0 0 4px rgba(base.$rr-purple, 0.5);
            }

            &:global(.caught) {
                box-shadow: 0 0 0 4px rgba(base.$rr-purple, 0.5);
            }
        }
    }
}
