@import '../../styles/base.scss';

.journey {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: auto;

    h4 {
        margin: 0;
    }

    span{
        font-weight: normal;
    }

    a {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        font-weight: 100;
        font-size: 1em;
        display: block;
        padding: 2px;
        box-shadow: auto;
        margin: 5px;
        width: 40vw;
        max-width: 800px;
        min-width: 400px;
        transition: all .1s ease;
        text-align: center;
        border-radius: 5px;
        }
        a:active {
        box-shadow: px rgba(0, 0, 0, .9);
        position: relative;
        top: -2px;
        }
}
.morning {
    a {
        background-color: rgb(235, 201, 13);
    } 
}

.midday {
    a {
        background-color: rgb(74, 142, 243);
     }
}

.evening {
    a {
        background-color: rgb(159,75,194);
    }
}

.line {
    height: 4px;
    width: 200px;
    background: rgba(255, 255, 255, 1);
    margin: auto;
  }
  .line:before, .line:after {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 10px;
    float: left;
    background: rgba(255, 255, 255, 1);
    margin-top: -3px;
  }
  .line:after {
    float: right;
  }

// .line {
//     height: 4px;
//     width: 200px;
//     height: 10px;
//     background: rgba(255, 255, 255, 1);
//   }
//   .line:before, .line:after {
//     content: '';
//     height: 10px;
//     width: 10px;
//     border-radius: 10px;
//     float: left;
//     background: rgba(255, 255, 255, 1);
//     margin-top: -3px;
//     margin-bottom: -3px;
//   }
//   .line:after {
//     float: right;
//   }