@use '../../styles/base.scss';

.journeys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;

    @include base.mobile {
        display: flex;
        flex-direction: column;
    }
}

.journey {
    display: flex;
    color: black;
    text-decoration: none;
    height: 120px;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    background: white;

    &:hover {
        .inner {
            border-color: var(--accent-color);
        }
    }
}

.band {
    width: 20px;
    flex-shrink: 0;
    background: var(--accent-color);
}

.inner {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-left: none;
    font-size: 14px;
    transition: 100ms ease-out border;
}

.iconsContainer {
    position: absolute;
    bottom: 10px;
    right: 10px
}

.iconsContainerInner {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr {
    position: absolute;
    color: black;
    opacity: 0.2;
}

.stations {
    margin-bottom: 2px;
    font-size: 20px;
}

.customJourney {
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transition: 100ms ease-out border;

    &:hover {
        border-width: 4px;
    }
}
