@import '../../styles/base.scss';

.journey {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: auto;

    h4 {
        margin: 0;
    }

    span{
        font-weight: normal;
    }

    a {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        font-weight: 100;
        font-size: 1em;
        display: block;
        padding: 2px;
        box-shadow: auto;
        margin: 5px;
        width: 40vw;
        max-width: 800px;
        min-width: 400px;
        transition: all .1s ease;
        text-align: center;
        border-radius: 5px;
        }
        a:active {
        box-shadow: px rgba(0, 0, 0, .9);
        position: relative;
        top: -2px;
        }
}
.morning {
    a {
        background-color: rgb(235, 201, 13);
    } 
}

.midday {
    a {
        background-color: rgb(74, 142, 243);
     }
}

.evening {
    a {
        background-color: rgb(159,75,194);
    }
}