@use '../../styles/base.scss';

.search {
    width: 100%;
    margin: 10px 0;
    height: 45px;
    font-size: 25px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background: rgba(white, 0.1);
    border: 2px solid transparent;
    color: white;

    &:focus {
        outline: none;
        border: 2px solid rgba(white, 0.8);
        box-shadow: base.$global-shadow;
    }

    &::placeholder {
        color: rgba(white, 0.5);
    }

    @include base.mobile {
        font-size: 18px;
        height: 35px;
        margin: 0;
    }
}

.smaller {
    height: 40px;
    padding: 6px;
    font-size: 20px;
}
