name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TM_RRE_RR_RKS_CERT_ARN: ${{ secrets.TM_RRE_RR_RKS_CERT_ARN }}
      TM_LABS_WILDCARD_CERT_ARN: ${{ secrets.TM_LABS_WILDCARD_CERT_ARN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Node 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Generate AWS profile
        run: |
          mkdir ~/.aws
          cat >> ~/.aws/credentials << EOF
          [transitmatters]
          aws_access_key_id = ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key = ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          EOF

          mkdir ~/.ssh
          cat >> ~/.ssh/transitmatters-rre.pem << EOF
          ${{ secrets.SSH_PRIVATE_KEY }}
          EOF
          chmod 0600 ~/.ssh/transitmatters-rre.pem
      - name: Check if package-lock.json is up to date
        run: npx --yes package-lock-utd@1.1.0
      - name: Install app dependencies
        run: npm ci
      - name: Run deploy shell script
        run: cd devops && bash ./deploy.sh -p -c
