name: lint

on: pull_request

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up Node 12.13.0
        uses: actions/setup-node@v1
        with:
          node-version: 12.13.0
      - name: Lint frontend code with ESLint
        run: |
          npm ci
          npm run lint
